/*
Fluid grid

This is a fluid and flexible grid system depending on the size of the viewport.

This grid use the clamp function to create a fluid grid.

It is based on the same base values from the fluid type calculator from your project.

This sytem is used Utopia.fyi
Web page for parameters : https://utopia.fyi/grid/calculator?c=330,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
*/

/*
The grid calculator uses responsive tokens from your space palette to construct a series of gutters and columns for your designs to live within. Rather than creating different grids for a number of breakpoints, think of this as one grid which can be viewed from any perspective. If you’re not sure where to start, this blog post might help.
*/

:root {
	--grid-max-width: 77.5rem;
	--grid-gutter: var(
		--space-s-l,
		clamp(1.125rem, 0.6264rem + 2.4176vw, 2.5rem)
	);
	--grid-columns: 12;
}

.fluid-grid-container {
	max-width: var(--grid-max-width);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.fluid-grid {
	display: grid;
	gap: var(--grid-gutter);
}
